<html xmlns:th=http://www.thymeleaf.org>
    <head>
        <title>测试</title>
        <script type="text/javascript" th:src="@{/js-lib/jquery-1.12.3.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap3/js/bootstrap.min.js}"></script>
        <link type="text/css" rel="stylesheet" th:href="@{/bootstrap3/css/bootstrap.min.css}"/>
    </head>

    <body>
        <div class="container">
            <div class="alert alert-info">
                ====
                <p th:text="dddd"></p>
            </div>
        </div>
    </body>
</html>